<template>
  <!-- Dynamic toolbar and navigation -->
  <v-app>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list dense>
        <v-list-item
          v-for="item in menuItems"
          :key="item.title"
          :to="item.link"
        >
          <v-list-title-content>
            <v-list-item-title style="font-size: 18px">{{
              item.title
            }}</v-list-item-title>
          </v-list-title-content>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-card>
      <v-toolbar dark class="primary">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title style="font-size: 28px">Vuetify</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
          class="hidden-sm-and-down"
          text
          v-for="item in menuItems"
          :key="item.title"
          :to="item.link"
        >
          {{ item.title }}
          <v-icon class="ml-2">{{ item.icon }}</v-icon></v-btn
        >
      </v-toolbar>
    </v-card>
    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer dark padless class="font-weight-medium">
      <v-card class="flex" flat tile>
        <v-card-title class="primary">
          <strong class="subheading"
            >Get connected with us on social networks!</strong
          >

          <v-spacer></v-spacer>

          <v-btn v-for="icon in icons" :key="icon" class="mx-4" dark icon>
            <v-icon size="24px">
              {{ icon }}
            </v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text class="py-2 white--text text-center">
          {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
          <p>vuetify@customer.com</p>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>

  <!--using toolbar -->
  <!-- <v-app>
    <v-card>
      <v-toolbar color="primary" dark>
        <v-app-bar-nav-icon to="/"></v-app-bar-nav-icon>
        <v-toolbar-title>Vuetify</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn text class="mx-1" rounded to="/">
          <span>Home</span>
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-btn text class="mx-1" rounded to="/about">
          <span>About</span>
          <v-icon>mdi-information</v-icon>
        </v-btn>
        <v-btn text class="mx-1" rounded to="/contact_us">
          <span>Contact Us</span>
          <v-icon>mdi-message</v-icon>
        </v-btn>
        <v-btn text class="mx-1" rounded to="/profile">
          <span>Profile</span>
          <v-icon>mdi-account</v-icon>
        </v-btn>
        <v-btn text class="mx-1" rounded to="/login">
          <span>Logout</span>
          <v-icon>mdi-logout</v-icon>
        </v-btn>
      </v-toolbar>
    </v-card>

    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer dark padless class="font-weight-medium">
      <v-card class="flex" flat tile>
        <v-card-title class="primary">
          <strong class="subheading"
            >Get connected with us on social networks!</strong
          >

          <v-spacer></v-spacer>

          <v-btn v-for="icon in icons" :key="icon" class="mx-4" dark icon>
            <v-icon size="24px">
              {{ icon }}
            </v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text class="py-2 white--text text-center">
          {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
          <p>vuetify@customer.com</p>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app> -->
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      menuItems: [
        { title: "Home", icon: "mdi-home", link: "/" },
        { title: "Profile", icon: "mdi-account", link: "/profile" },
        { title: "Sign in", icon: "mdi-lock-open", link: "/login" },
        { title: "About", icon: "mdi-information", link: "/about" },
        { title: "Contact Us", icon: "mdi-email", link: "/contact_us" },
      ],
      drawer: null,
      icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
    };
  },
};
</script>

