<template>
  <div>
    <v-card>
      <v-responsive>
        <v-card max-height="auto" class="ma-6 pa-6">
        <v-carousel hide-delimiters>
          <v-carousel-item 
            v-for="(item, i) in items"
            :key="i"
            :src="item.src"
            reverse-transition="fade-transition"
            transition="fade-transition"
          ></v-carousel-item>
        </v-carousel>
        </v-card>
      </v-responsive>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      messages: 0,
      show: false,
       items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          },
        ],
    };
  },
};
</script>

<style>
</style>