<template>
  <v-row no-gutters>
    <v-col cols="10" offset="1" sm="6" offset-sm="3" md="4" offset-md="4">
      <v-card class="mx-auto my-5">
        <v-responsive :aspect-ratio="16 / 5">
          <div class="ma-8">
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="name"
                :rules="nameRules"
                label="Username"
                prepend-icon="mdi-account-circle"
                required
              ></v-text-field>

              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                prepend-icon="mdi-email"
                required
              ></v-text-field>

              <v-text-field
                v-model="password"
                :rules="passwordRules"
                label="password"
                prepend-icon="mdi-lock"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                required
              ></v-text-field>

              <v-checkbox v-model="checkbox" label="Remember me"></v-checkbox>
              <v-divider></v-divider>
              <v-card-actions class="text-center ma-3">
                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mr-4"
                  @click="validate"
                >
                  Sign in
                </v-btn>

                <v-btn color="error" class="mr-4" @click="reset">
                  Reset Form
                </v-btn>
              </v-card-actions>
            </v-form>
          </div>
        </v-responsive>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    dailog: false,
    valid: true,
    name: "",
    password: "",
    passwordRules: [(v) => !!v || "Password is required"],
    nameRules: [(v) => !!v || "Name is required"],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    checkbox: false,
    show: false,
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
  },
};
</script>