<template>
    <v-row no-gutters>
      <v-col cols="10" offset="1" sm="6" offset-sm="3" md="4" offset-md="4">
       <v-card class="mx-auto my-6">
        <v-toolbar flat color="primary" dark>
          <v-icon>mdi-account</v-icon>
          <v-toolbar-title class="font-weight-light">
            User Profile
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            color="info"
            fab
            small
            @click="isEditing = !isEditing"
          >
            <v-icon v-if="isEditing"> mdi-close </v-icon>
            <v-icon v-else> mdi-pencil </v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-text-field
            :disabled="!isEditing"
            color="white"
            label="Username"
            class="ma-5"
          ></v-text-field>
          <v-text-field
            :disabled="!isEditing"
            color="white"
            label="E-mail"
            class="ma-5"
          ></v-text-field>
        </v-card-text>
        <v-divider class="ma-5"></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn :disabled="!isEditing" color="success" @click="save" class="mr-5 mb-5">
            Save
          </v-btn>
        </v-card-actions>
        <v-snackbar v-model="hasSaved" :timeout="2000" absolute bottom left>
          Your profile has been updated
        </v-snackbar>
          </v-card>
      </v-col>
    </v-row>
</template>

<script>
export default {
  name: "Profile",
  data() {
    return {
      hasSaved: false,
      isEditing: null,
      model: null,
    };
  },
   methods : {
    save() {
      this.isEditing = !this.isEditing;
      this.hasSaved = true;
    },
  },
};
</script>